node_modules/
package-lock.json
.DS_Store
dist/
database/images/
!database/images/.gitkeep
database/logo/
!database/logo/.gitkeep
database/*.sqlite*
database/*.db*
database/*.sqlite-wal
database/*.sqlite-shm
database/*.db-wal
database/*.db-shm
